<div class="min-vh-100 w-100 d-flex justify-content-center align-items-center bg-grad">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-5 p-4 bg-white rounded">
                <div class="text-center">
                    Sign In
                </div>
                <div class="col-12 text-center mt-4">
                    <input class="col-8" type="text" placeholder="username"/>
                </div>
                <div class="col-12 text-center mt-4">
                    <input class="col-8" type="password" placeholder="password"/>
                </div>
                <div class="col-12 text-center mt-4">
                    <button type="button" class="btn-signin">Log In</button>
                </div>
            </div>
        </div>
    </div>
</div>