<div style="position: absolute; top: 20px; left: 0; right: 0;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 m-auto">
                <div class="row">
                    <nav>
                        <img class="me-2" src="assets/img/Logo.png" alt="logo" />
                        <ul>
                            <a routerLink="/jobs-list" routerLinkActive="active">
                                Find Jobs
                            </a>
                        </ul>
                        <ul>
                            <a>
                                Upskill Yourself
                            </a>
                        </ul>
                        <ul class="float-end">
                            <a style="cursor: pointer;" (click)="signout()">
                                Sign Out
                            </a>
                        </ul>
                        <ul class="float-end">
                            <a>
                                Post a Job
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
