.border-25 {
    border-radius: 25px;
}

.btn-search {
    border: 0;
    background: #e58b9b;
    color: white;
    padding: 5px 50px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 20px;
}

.btn-details {
    border: 2px solid #e91e63;
    background: white;
    color: #e91e63;
}

input {
    outline: none;
}