/* You can add global styles to this file, and also import other style files */
.bg-grad {
    background: linear-gradient(90deg, #3949ab, #90caf9);
}

.ff-poppins {
    font-family: "Poppins", sans-serif;
}

body {
    background: #e0e0e0;
}